
pom.xml
*jar
.lein-failures
.lein-deps-sum
target
.settings
.metadata
.project
.classpath
*.js
/resources/public/**cljs
/resources/public/domina
/resources/public/clojure
/resources/public/enfocus
*.*#
.#*
*.*~

project/.lein-plugins
.lein-plugins/checksum